/* Cart Content Container */

.cart-background{
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
     
}

.cart-content{
    height: 50%;
    width: 50%;
    background-color: #ffffff;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100%;
      /* Cart OPEN ANIMATION */
    animation: slide 1s normal;
    animation-fill-mode: forwards;
    border-radius: 5rem;
  
    
}




/* CART OPEN ANIMATION */

@keyframes slide {
  from {margin-left: calc(0% - px)}
  to {margin-left: 70%;}
}

#cart-close-btn{
    color: #ff5b5b;
    font-size: 5rem;
    margin-left: 80%;
}

#cart-close-btn:hover{
    cursor: pointer;
    color: #e96262;
    
}