/* Cart Content Container */

.cart-background{
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
     
}

.cart-container{
    height: 98%;
    width: 20%;
    background-color: #ffffff;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    right: -25%;
    top: 0.5%;
      /* Cart OPEN ANIMATION */
    animation: slide 0.5s normal;
    animation-fill-mode: forwards;
    border-radius: 2rem;
  
}

  .cart-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .added-cart-items-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



/* CART OPEN ANIMATION */

@keyframes slide {
  from {right: calc(0% - px)}
  to {right: 0%;}
}

#cart-close-btn{
    color: #ff5b5b;
    font-size: 4rem;
    margin-left: 80%;
}

#cart-close-btn:hover{
    cursor: pointer;
    color: #e96262;
    
}