/* Cart Content Container */

body{
  font-size: 14px;
}
.cart-background{
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
     
}

.cart-container{
    height: 98%;
    width: 20%;
    background-color: #ffffff;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    right: -25%;
    top: 0.5%;
      /* Cart OPEN ANIMATION */
    animation: slide 0.5s normal;
    animation-fill-mode: forwards;
    border-radius: 2rem;
  
}

/* CART OPEN ANIMATION */

@keyframes slide {
  from {right: calc(0% - px)}
  to {right: 0%;}
}

  .cart-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

 
  .added-cart-item-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    
  }

  .cart-input{
    width: 55%;
    height: 2rem;
    text-align: center;
    border-radius: 0.4rem;
    border: none;
  
    
  }
  .cart-input:hover{
    cursor: default;
  }

  .input-row{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.2);
    width: 40%;
    border-radius: 0.4rem;
   
  }

  #in-cart-input-trash-icon{
    font-size: 1.3rem;
    cursor: pointer;
    color: rgba(0,0,0,0.2);
  }

  #in-cart-input-trash-icon:hover{
    color: #e96262;
    
  }

  #in-cart-input-plus-icon{
    cursor: pointer;
    font-size: 1.3rem;
    color: rgba(0,0,0,0.5);
  }

  #in-cart-input-plus-icon:hover{
    color: #0297b7;
  }

  #in-cart-input-minus-icon{
    cursor: pointer;
    font-size: 1.3rem;
    color: rgba(0,0,0,0.5);
  }

    #in-cart-input-minus-icon:hover{
       color: #e96262;
    }
  

  .total-ctn{
    display: flex;
    justify-content: flex-end;
    gap: 10%;
    margin-right: 5%;
  }

  

 





#cart-close-btn{
    color: #ff5b5b;
    font-size: 4rem;
    margin-left: 80%;
}

#cart-close-btn:hover{
    cursor: pointer;
    color: #e96262;
    
}