/* Main */

.shopping-products{
    margin:2%;
    display:flex;
    justify-content:center;
    gap:2%;
    flex-wrap:wrap;
}

.product{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:35rem;
}

.product:hover{
    border: 1px solid #000000;
    
}


.product:hover .product-img {
    transform: rotate(-10deg) scale(1.1);
    transition: 500ms;
    
}

.addtocart-btn{
    height:2rem;
    width:15rem;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    border-radius: 5rem;
    background-color: grey;
    color: #ffffff;
    border: none;
    margin-top: 5%;
    text-shadow: 1px 1px 1px #000000;
   
}

.addtocart-btn:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
    color: #ffffff;
    transition: 500ms;
}

.icon-wrapper{
    pointer-events: none;
}


.product-img{
    max-width:15rem;
    height:12rem;
}


.input-field{
    width: 3rem;
    height: 2rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: none;
    
}

.added-to-cart-background{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 50000;
    position: absolute;
}

.added-to-cart-ctn{
    top: 10%;
    left: 30%;
    width: 50rem;
    height: 50rem;
    z-index: 500000;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    color: #ffffff;
    
}

.added-to-cart-ctn h5{
    text-align: center;
    font-size: 3rem;
}

#close-item-added-preview-icon{
    font-size: 4rem;
    margin-left:90% ;
    cursor: pointer;
}




/* Media Queries */

@media only screen and (min-width: 600px) and (max-width: 899px){
 /* For tablets: */
 .col-s-1 {width: 8.33%;}
 .col-s-2 {width: 16.66%;}
 .col-s-3 {width: 25%;}
 .col-s-4 {width: 33.33%;}
 .col-s-5 {width: 41.66%;}
 .col-s-6 {width: 50%;}
 .col-s-7 {width: 58.33%;}
 .col-s-8 {width: 66.66%;}
 .col-s-9 {width: 75%;}
 .col-s-10 {width: 83.33%;}
 .col-s-11 {width: 91.66%;}
 .col-s-12 {width: 100%;}

    .shopping-products{
        display: flex;
        flex-wrap: wrap;
        gap:15% ;
        }

    .addtocart-btn{
        width: 50%;
        margin-top: 10%;
    }

   

}

