/* Main */

.shopping-products{
    margin:2%;
    display:flex;
    justify-content:center;
    gap:2%;
    flex-wrap:wrap;
}

.product{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:35rem;
}

.product:hover{
    border: 1px solid #000000;
}

.addtocart-btn{
    height:2rem;
    width:15rem;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    border-radius: 5rem;
}

.addtocart-btn:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
    color: #ffffff;
    transition: 500ms;
}

.product-img{
    max-width:15rem;
    height:10rem;
}


.input-field{
    width: 3rem;
    text-align: center;
}


